body{
  position: relative;
  margin: 0 auto;
  width: 100%;
}
canvas{
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  box-sizing: border-box;
}
.bg{
  width: 100%;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.title{
  width: 20%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding-top: 30px;
  box-sizing: border-box;
}
.title>h1{
  font-size: 45px;
  font-weight: bold;
}
.title>p{
  font-size: 18px;
  font-weight: 300;
  padding-top: 20px;
}